<h2>Song Details</h2>

  <p>
    Song: <%= @song.title %>
  </p>
 
  <p>
    Author: <%= @song.author %>
  </p>
  
  <p>
    <%= @song.url %>
  </p>
  
  <% if @song.created_at %>
   <p>Created at: <%= @song.created_at %></p>
  <% end %>
 
 
  <% if @other_songs.exists? %>
    <% @other_songs.each do |song| %>
      <h3>Other songs from this author</h3>
      <p><a href="/songs/<%= song.id %>"><%= song.title %></a></p>
    <% end %>
  <% end %>
<hr/> 

<a href="/songs">Back to Song Wall</a>